/build/*
!/build/.npmkeep

# Buka blokir khusus untuk folder dan file APK hasil rename di dalam build/outputs/apk/debug
!/build/outputs/
/build/outputs/*
!/build/outputs/apk/
/build/outputs/apk/*
!/build/outputs/apk/debug/
/build/outputs/apk/debug/*
!/build/outputs/apk/debug/*.apk
